<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="true"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true"
         verbose="true"
>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="JsonRpc">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxText outputFile="php://stdout"/>
    </logging>
</phpunit>
